
<div class="row">

    <div class="col-12" [class.d-none]="!authService.isLoggedIn">
        <h3>Juegos</h3>
        <ul>
            <li>
                <a routerLink="juegos/tateti" class="nav-link">
                    Ta te ti!
                </a>
            </li>
            <li>
                <a routerLink="juegos/piedra-papel-o-tijera" class="nav-link">
                    Piedra, Papel o Tijeras
                </a>
            </li>
        </ul>
    </div>
    <div class="col-12">
        <a routerLink="listado" class="nav-link">
            <h3>Listado</h3>
        </a>
        <a routerLink="charla" class="nav-link">
            <h3>Chat</h3>
        </a>
    </div>
</div>